extends layout

block content
  .container-fluid.fill-height  
    .row
      #resizable.col-xs-12.col-sm-8
        #accordionMap
          panel
            .panel-heading.panel-default
              a.panel-title(data-toggle='collapse', href='#collapseMap')
                | Karte
              #collapseMap.collapse.show(data-parent='#accordionMap')
                .card
                  .card-body          
                    .panel-body
                      button#deleteLayer.btn.btn-success(disabled='disabled')
                        span.glyphicon.glyphicon-remove-circle()
                        span
                        | Entferne GeoJSON-Schicht
                      #map
          // /Karte            
          panel
            .panel-heading.panel-default
              a.panel-title(data-toggle='collapse', href='#collapseExample')
                | Beispieldaten
              #collapseExample.collapse(data-parent='#accordionMap')
                .card
                  .card-body          
                    .panel-body
                      h4(style='color:white;') GeoJSON
                      pre
                        |{
                        |  "type": "FeatureCollection",
                        |  "features": [
                        |    {
                        |      "type": "Feature",
                        |      "properties": 
                        |      {
                        |        "name":"Institut fuer Geoiformatik",
                        |        "img":"https://www.uni-muenster.de/imperia/md/images/zdmgeo/_v/banner1_761x381.png"
                        |      },
                        |      "geometry": {
                        |        "type": "Polygon",
                        |        "coordinates": [
                        |          [
                        |            [7.5955089926719666,51.96966694957956],
                        |            [7.595372200012207,51.96929514645031],
                        |            [7.595951557159424,51.96921748051828],
                        |            [7.596091032028197,51.96958928429187],
                        |            [7.5955089926719666,51.96966694957956]
                        |          ]
                        |        ]
                        |      }
                        |    }
                        |  ]
                        |}
                      h4(style='color:white;') Link
                      pre https://raw.githubusercontent.com/yhallowiegeht/GeosoftAbgabe/master/JSON/GEO1jens.json
          // /Beispieldaten
        // /Akkordeon              
      #mirror.col-xs-12.col-sm-4
        #accordion  
          panel
            .panel-heading.panel-default 
              a.collapsed.h2.panel-title(data-toggle='collapse', href='#collapseOne')
                | Institute
              #collapseOne.collapse(data-parent='#accordion')
                .card
                  .card-body
                    .panel-body
                      ul.nav.nav-pills
                        li
                          a#greyjoy(data-toggle='tab', href='#InstSave') Hinzufügen
                        li
                          a#greyjoy(data-toggle='tab', href='#InstLoad') Laden/Bearbeiten
                        li
                          a#greyjoy(data-toggle='tab', href='#InstDelete') Löschen
                      .tab-content
                        #InstSave.tab-pane.fade.in.active
                          h3#whitewanderer Neues Institut hinzufügen
                          .form-group  
                            label.badge(for='sInstName') Institutsname
                            textarea#sInstName.form-control(rows='1', placeholder="Hier Name einfügen")
                          ul.nav.nav-pills
                            li
                              a#greyjoy(data-toggle='tab', href='#sGeoJSON', '') GeoJSON-Text
                            li
                              a#greyjoy(data-toggle='tab', href='#sURL', '') Link mit GeoJSON
                          .tab-content                                          
                            #sGeoJSON.tab-pane.fade.in.active
                              .form-group
                                textarea#s-geojson-area.form-control(rows='4', placeholder="Hier GeoJSON einfügen", style='margin-bottom: 5px;')
                                button.btn.badge(onclick='loadGeoJSON("#s-geojson-area", "#s-upload")', style='background-color: #777;')
                                  span
                                  | Zeige auf Karte
                            #sURL.tab-pane.fade.in
                              .form-group
                                textarea#s-url-area.form-control(rows='1', placeholder="Hier URL einfügen", style='margin-bottom: 5px;')
                                button.btn.badge(onclick='loadURL("s-url-area", "#s-upload")', style='background-color: #777;')
                                  span
                                  | Zeige auf Karte
                          .form-group
                            button#s-upload.btn.btn(onclick='saveINSTtoDB()', disabled='disabled')
                              span.glyphicon.glyphicon-home()
                              span  
                              | In Datenbank speichern                            
                        #InstLoad.tab-pane.fade.in
                          h3#whitewanderer Bestehendes Institut laden/bearbeiten
                          .form-group
                            label.badge(for='InstLoadDbName') Name in Datenbank
                            textarea#InstLoadDbName.form-control(rows='1', placeholder="Hier Name einfügen")
                            br
                            button.btn.btn(onclick='LoadINSTfromDB()')
                              span.glyphicon.glyphicon-save()
                              span    Objekt aus Datenbank laden                              
                          .form-group  
                            label.badge(for='InstUpdateDbName') Institutsname
                            textarea#InstUpdateDbName.form-control(rows='1', placeholder="Hier Name einfügen")                                         
                          .form-group
                            label.badge(for='u-geojson-area') GeoJSON
                            textarea#u-geojson-area.form-control(rows='4', placeholder="Hier GeoJSON einfügen", style='margin-bottom: 5px;')
                            button#u-geojson-upload.btn.badge(onclick='loadGeoJSON("#u-geojson-area","#u-upload")', style='background-color: #777;')
                              span
                              | Zeige auf Karte
                          .form-group
                            button#u-upload.btn.btn(onclick='updateINSTinDB()', disabled='disabled')
                              span.glyphicon.glyphicon-edit()
                              span  
                              | In Datenbank updaten                              
                        #InstDelete.tab-pane.fade.in
                          h3#whitewanderer Bestehendes Institut löschen
                          .form-group
                            label.badge(for='InstDeleteDbName') Institutsname
                            textarea#InstDeleteDbName.form-control(rows='1', placeholder="Hier Name einfügen")
                            br
                            button.btn.btn(onclick='deleteINSTfromDB()')
                              span.glyphicon.glyphicon-trash()
                              span    Objekt aus Datenbank löschen
          // /Institute                                                                     
          panel
            .panel-heading.panel-default
              .card
                .card-header
                  a.collapsed.h2.panel-title(data-toggle='collapse', href='#collapseTwo')
                    | Fachbereiche
                  #collapseTwo.collapse(data-parent='#accordion')
                    .card-body                  
                      panel
                        .panel-body
                          ul.nav.nav-pills
                            li
                              a#greyjoy(data-toggle='tab', href='#FbSave') Hinzufügen
                            li
                              a#greyjoy(data-toggle='tab', href='#FbLoad') Laden/Bearbeiten
                            li
                              a#greyjoy(data-toggle='tab', href='#FbDelete') Löschen
                          .tab-content
                            #FbSave.tab-pane.fade.in.active
                              h3#whitewanderer Neuen Fachbereich hinzufügen
                              .form-group  
                                label.badge(for='FbSaveName') Fachbereichsname
                                textarea#FbSaveName.form-control(rows='1', placeholder="Hier Name einfügen")
                                br
                                label.badge(for='FbSaveAbk') Fachbereichsabkürzung
                                textarea#FbSaveAbk.form-control(rows='1', placeholder="Hier Abkürzung einfügen")
                                br          
                                label.badge(for='FbSaveUrl') Webseite
                                textarea#FbSaveUrl.form-control(rows='1', placeholder='Hier URL einfügen')
                                br
                                label.badge(for='FbSaveInstitute') Institute
                                textarea#FbSaveInstitute.form-control(rows='1', placeholder='Hier Institute einfügen')
                                br
                                button.btn.btn(onclick='saveFBtoDB()')
                                  span.glyphicon.glyphicon-star()
                                  span  In Datenbank speichern                            
                            #FbLoad.tab-pane.fade.in
                              h3#whitewanderer Bestehenden Fachbereich laden/bearbeiten
                              .form-group
                                label.badge(for='FbLoadName') Name oder Abkuerzung in Datenbank
                                textarea#FbLoadName.form-control(rows='1', placeholder="Hier Name einfügen")
                                br
                                button.btn.btn(onclick='loadFBfromDB()')
                                  span.glyphicon.glyphicon-save()
                                  span  Objekt aus Datenbank laden
                                br
                                br
                                .form-group  
                                  label.badge(for='FbUpdateName') Fachbereichsname
                                  textarea#FbUpdateName.form-control(rows='1', placeholder="Hier Name einfügen")
                                  br
                                  label.badge(for='FbUpdateAbk') Fachbereichsabkürzung
                                  textarea#FbUpdateAbk.form-control(rows='1', placeholder="Hier Abkürzung einfügen")
                                  br                                      
                                  label.badge(for='FbUpdateUrl') Webseite
                                  textarea#FbUpdateUrl.form-control(rows='1', placeholder='Hier URL einfügen')
                                  br
                                  label.badge(for='FbUpdateInstitute') Institute
                                  textarea#FbUpdateInstitute.form-control(rows='1', placeholder='Hier Institute einfügen')
                                  br
                                  button.btn.btn(onclick='updateFBinDB()')
                                    span.glyphicon.glyphicon-edit()
                                    span  In Datenbank bearbeiten                             
                            #FbDelete.tab-pane.fade.in
                              h3#whitewanderer Bestehenden Fachbereich löschen
                              .form-group
                                label.badge(for='FbDeleteName') Fachbereichsname
                                textarea#FbDeleteName.form-control(rows='1', placeholder="Hier Name einfügen")
                                br
                                button.btn.btn(onclick='deleteFBfromDB()')
                                  span.glyphicon.glyphicon-trash()
                                  span    Objekt aus Datenbank löschen
          // /Fachbereiche                        
          panel
            .panel-heading.panel-default
              .card
                .card-header
                  a.collapsed.h2.panel-title(data-toggle='collapse', href='#collapseThree')
                    | Routen
                  #collapseThree.collapse(data-parent='#accordion')
                    .card-body                  
                      panel
                        .panel-body
                          ul.nav.nav-pills
                            li
                              a#greyjoy(data-toggle='tab', href='#RSave') Hinzufügen
                            li
                              a#greyjoy(data-toggle='tab', href='#RLoad') Laden/Bearbeiten
                            li
                              a#greyjoy(data-toggle='tab', href='#RDelete') Löschen
                          .tab-content
                            #RSave.tab-pane.fade.in.active
                              h3#whitewanderer Neue Route hinzufügen
                              .form-group
                                label.badge(for='rSaveName') Routenname
                                textarea#rSaveName.form-control(rows='1', placeholder="Hier Name einfügen")
                                br
                                button.btn.btn(onclick='saveRtoDB()')
                                  span.glyphicon.glyphicon-road()
                                  span  Route speichern                          
                            #RLoad.tab-pane.fade.in
                              h3#whitewanderer Bestehende Route laden/bearbeiten
                              .form-group
                                label.badge(for='rLoadName') Name in Datenbank
                                textarea#rLoadName.form-control(rows='1', placeholder="Hier Name einfügen")
                                br
                                button.btn.btn(onclick='loadRfromDB()')
                                  span.glyphicon.glyphicon-save()
                                  span  Objekt aus Datenbank laden 
                              .form-group  
                                label.badge(for='rUpdateName') Routenname
                                textarea#rUpdateName.form-control(rows='1', placeholder="Hier Name einfügen")
                                br
                                button.btn.btn(onclick='updateRinDB()')
                                  span.glyphicon.glyphicon-edit()
                                  span  Objekt in Datenbank bearbeiten                             
                            #RDelete.tab-pane.fade.in
                              h3#whitewanderer Bestehende Route löschen
                              .form-group
                                label.badge(for='rDeleteName') Fachbereichsname
                                textarea#rDeleteName.form-control(rows='1', placeholder="Hier Name einfügen")
                                br
                                button.btn.btn(onclick='deleteRfromDB()')
                                  span.glyphicon.glyphicon-trash()
                                  span  Objekt aus Datenbank löschen
          // /Routen
        // /Akkordeon                                                                                                                                     
  // /.container
  
  script(src='javascripts/resize.js')
  script(src='javascripts/help_functions.js')
  script(src='javascripts/map.js')
  script(src='javascripts/ui_functions.js')
  script(src='javascripts/db_functions.js')
  script(src='javascripts/map_functions.js')