extends layout

block content
  .container-fluid.fill-height
    .row.toolbar
      .col-xs-12.col-sm-8.small
        button#delete.btn.btn-success.btn-xs(type='button', disabled='disabled')
          span.glyphicon.glyphicon-remove-circle()
          span  Entferne GeoJSON-Schicht
    .row
      #resizable.col-xs-12.col-sm-8
        panel
          .panel-heading.panel-default
            h3.panel-title Karte
          .panel-body
            #map
      #mirror.col-xs-12.col-sm-4
        panel
          .panel-heading.panel-default
            h3.panel-title Neues Institut hinzufuegen
          .panel-body
            .form-group  
              label.badge(for='GeoJSONname') Institutsname
              textarea#GeoJSONname.form-control(rows='1', placeholder='Hier Name einfuegen')
            #accordion
              .card
                .card-header
                  a.card.badge(data-toggle='collapse', href='#collapseOne')
                    | GeoJSON
                #collapseOne.collapse.show(data-parent='#accordion')
                  .card-body
                    .form-group
                    textarea#geojson-area.form-control(rows='4', placeholder='Hier Text einfuegen')
                    br
                    button.btn.btn-success(onclick='loadGeoJSON()')
                      span
                      |  Zeige auf Karte
              br
              .card
                .card-header
                  a.collapsed.badge(data-toggle='collapse', href='#collapseTwo')
                    | URL
                #collapseTwo.collapse(data-parent='#accordion')
                  .card-body
                    .form-group
                    textarea#url-area.form-control(rows='1', placeholder='Hier URL einfuegen')
                    br
                    button.btn.btn-success(onclick='loadURL()')
                      span
                      |  Zeige auf Karte
              br
            .form-group 
              button#download.btn.btn-success.btn(type='button', onclick='saveToDatabase()', disabled='disabled')
                span.glyphicon.glyphicon-save()
                span  In Datenbank speichern     
  // /.container
  script(src='javascripts/resize.js')
  script(src='javascripts/map.js')
  script(src='javascripts/map_functions.js')